@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
        /* shared style */

.btn{
    background-color: #3370ff;
    color: white;
    border-radius: 10px;
    padding: 12px 36px 12px 36px;
    font-weight: 700;
    border: none;
}

body{
    font-family: "Raleway", sans-serif;
    
}
              /* Header section start */
header{
    background-image: url('./Assets/Hero-bg.png');
    height: 600px;
    padding: 0 150px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}
.hero-section{
    text-align: center;
    margin: 110px 0;
}
.hero-title{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 36px;
}


          /* Action section start */


          
          
